<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>StatForSpotify|Login</title>
  </head>

  <body>
    <div class="back">
      <h1 class="title">Welcome</h1>
      <br />
      <h2 class="subtitle">
        Get song recommendation based on your recently liked song
      </h2>
      <!-- <a href="https://www.google.com/" style="text-decoration: none;">
                <button type="button" id="loginbtn">Login with Spotify</button>
            </a> -->
      <input
        type="button"
        onclick="window.location.href='http://127.0.0.1:5000/login';"
        id="loginbtn"
        value="Login with Spotify"
      />
    </div>
  </body>
</html>
