<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>StatForSpotify|Search</title>
    <link rel="stylesheet" href="../static/style2.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    //
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="back">
      <h1 class="title">Enter Song name</h1>

      <div class="wrapper">
        <div class="search-input">
          <a href="" target="_blank" hidden></a>
          <form action="#" method="POST">
            <input type="text" placeholder="Type to search.." name="nm" />
            <div class="autocom-box"></div>
            <div class="icon">
              <button type="submit" id="completed-task" class="fabutton">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../static/suggestions.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
